body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: aliceblue;
}

.container{
  width: 450px;
}

.input-cont{
  height:50px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
}

.input-cont input{
  width: 90%;
  font-size: 20px;
  border: none;
  outline: none;
}

.input-cont input::placeholder{
  font-size: 18px;
  text-transform: capitalize;
}

.submiBtn{
  border: none;
  outline: none;
  background-color: transparent;
}

.submiBtn .plus-icon{
  color: purple;
  margin: 0 0 0 auto;
  font-size: 25px;
  cursor: pointer;
}

.todoList{
  margin-top: 20px;
  height:50px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0 38px 0 20px;
  align-items: center;
}

.todoList input{
  margin: 0 auto 0 0;
  width: 60%;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.trash-icon{
 margin-right: 40px;
 color:rgb(90, 110, 239);
 font-size: 20px;
 cursor: pointer;
}

.check-icon{
  color:rgb(90, 110, 239);
  font-size: 20px;
  cursor: pointer;
 }

 .checked{
  background-color: rgb(193, 153, 235);
 }

 .middle-line{
  text-decoration: line-through;
 }